if [ ! -d "./venv" ]; then python3 -m venv venv; fi; source ./venv/bin/activate

# Check if .ssh_key_location exists, and if so, use that value for the git ssh key
if [ -f ./.ssh_key_location ]; then
  SSH_KEY_LOC=$(cat ./.ssh_key_location)
  if [ -f "$SSH_KEY_LOC" ]; then
    export GIT_SSH_COMMAND="ssh -i $SSH_KEY_LOC -o IdentitiesOnly=yes"
  fi
fi
